
body{
    margin: 0;
}

section h1 , h2, h3{
    font-family: 'Roboto', sans-serif;
}
.sobrenos{
    font-size: 17px;
}

.grid-container  {
    display: grid;
    grid-template-columns: 19.5% 19.5% 19.5% 19.5% 19.5%;
    grid-template-rows: 200px;
    gap: 0% 5px;
    grid-template-areas:
    ". . . . .";
}

.dia {
   min-height: 150px;
}


